.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.header{
    background-color: rgba(255, 144, 14, 0.1);
    /* width: 100%; */
    padding: 50px 240px 0px 228px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h2{
    font-size:45px;
    color: #131313;
}
.nav-link{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.nav-link a{
    text-decoration: none;
    font-size:18px;
    line-height: 26px;
    font-weight: 500;
    color: #424242;
}
.banner{
    background-color: rgba(255, 144, 14, 0.1);
    padding: 102px 240px 45px;
}
.banner-content{
    text-align: center;
}
.banner-content img{
    margin-top: 50px;
}
.content h1{
    font-size: 64px;
    color: rgba(19, 19, 19, 1);
}
.content p{
    margin: 20px auto;
    max-width: 868px;
    font-size: 16px;
    line-height: 26px;
    color: rgba(114, 114, 114, 1);
}
.btn{
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    padding: 21px 25px;
    font-size:20px;
    font-weight: 500;
    color: white;
}
.container{
    display: flex;
    max-width: 1440px;
    margin: 78px auto;
}
.container-content{
    max-width: 537px;
    margin-left: 73px;
    align-content: center;
}
.container-content h1{
    font-size: 45px;
    margin-bottom: 24px;
}
.color-grey{
    color: #727272;
}
.color-orange{
    color: #FF900E;
}
.container-content p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
}
.image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.feature-container{
    padding: 52px 240px;
}
.features{
    display: flex;
    max-width: 1440px;
    gap: 154px;
}
.features-content h1{
    max-width: 468px;
    font-size: 45px;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 24px;
}
.features-content p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-box{
    max-width: 586px;
    box-shadow: 0px 4px 30px 0px #00000012;
    border-radius: 8px;
    padding: 30px 42px 30px 30px;
}
.card-box h5{
    font-size: 20px;
    font-weight: 500;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 10px;
}
.card-box p{
    font-size: 16px;
    line-height: 26px;
}
.facts-container{
    padding: 77px 232px 180px 240px;
}
.facts-box h3{
    font-size: 45px;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 24px;
}
.facts-box p{
    max-width: 542px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 100px;
}
.mini-card{
    display: flex;
    justify-content: space-around;
}
.mini-card-box{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding-top: 46px;
    height: 245px;
    width: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* .mini-card-box img{
    mar
} */
.mini-card-box h3{
    margin-top:10px;
    margin-bottom: 5px;
    font-size: 45px;
    font-weight: 500;
    color: rgba(66, 66, 66, 1);
}
.mini-card-box p{
    font-size: 20px;
    font-weight: 500;
}
.sponsor{
    max-width: 1440px;
    margin: 0px auto;
}
.sponsor-logo{
    display: flex;
    justify-content: space-between;
}
.sponsor-content{
    max-width: 542px;
    margin: 0px auto;
    text-align: center;
}
.sponsor-content h1{
    font-size: 45px;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    margin-bottom: 24px;
}
.sponsor-content p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 50px;
}
.sponsor-logo img{
    filter: grayscale(100%);
}
.copyright{
    max-width: 1440px;
    margin: 130px auto 216px;
    padding:39px 410px;
    background-color: rgba(255, 244, 231, 1);
    border-radius: 8px;
}
.copyright p{
    color: rgba(66, 66, 66, 1);
    font-size: 20px;
}